form{
    width:25%;
    border: 1px solid grey;
    margin:20px;
    padding:20px;
}


label{
    font-size: 14px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid gray;
}

input:focus, textarea:focus{
    border:1px solid cornflowerblue;
}

textarea{
    resize: vertical;
    max-height: 100px;
}

input[type="submit"]{
    margin-bottom: 0px;
    background:rgb(171, 171, 252);
    color: white;
    border:none;
}



input[type="submit"]:hover{
    background: orangered;
    cursor:pointer;

}


